@import './reset';

html,body{
    background: #ddd;
}

.main-editor {
    background: #fff;
    width: 960px;
    margin: 50px auto;
    //box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

#root .main-editor>.base-style{
    overflow: hidden;
    @import './base-style';
}